<!DOCTYPE html>
<html>
<head>
  <title>Free Events</title>
</head>
<body>
<form>
	<input type="text" name="events">
	<button type="submit" name="submit">Search Events</button>
</form>



</body>
</html>

