<header class="container">
      <div class="row">
        <div class="col-8">
          <h1>Summer in Chicago</h1>
        </div>
  </header>

  <div class="container mid-section">
    <div class="row">
      <div class="col-12 centered-text">
        <h2>Your guide to Summer Time Chicago free events!</h2>
      </div>
    </div>
  </div>

  <main class="container">
    <div class="row-loose">
      <div class="col-12">
        <h2 class="centered-text">My Projects</h2>
      </div>
    </div><header class="container">
      <div class="row">
        <div class="col-8">
          <h1>Summer in Chicago</h1>
        </div>

      <nav class="col-4">
        <ul>
          <li><a href="/events">Events</a></li>
          <li><a href="/profile">Profile</a></li>
          <li><a href="/create">Create Events</a></li>
        </ul>
      </nav>
      </div>
  </header>

  <div class="container mid-section">
    <div class="row">
      <div class="col-12 centered-text">
        <h2>Your guide to Summer Time Chicago free events!</h2>
      </div>
    </div>
  </div>

  <main class="container">
    <div class="row-loose">
      <div class="col-12">  
        <h2>Sign Up to Checkout Cool Free Events</h2>
        <form method="post" action="#">
          <input type="text" name="name" placeholder="Enter Full Name" />
          <br />
          <input type="tel" name="telephone" placeholder="Telephone Number" />
          <br />
          <input type="email" name="email" placeholder="email" />
          <br />
          <input type="text" name="username" placeholder="Choose a Username" />
          <br />
          <input type="password" name="password" placeholder="Choose a Password" />
          <br />
          <button type="submit">Submit</button>
        </form>
      </div>
    </div>
  </main>

 
 