<main class="container">
    <div class="row">
      <div class="col-12">  
        <h2>Sign Up to Checkout Cool Free Events</h2>
        <form method="post" action="/users/login">
          <input type="text" name="username" placeholder="Username" />
          <br />
          <input type="password" name="password" placeholder="Password" />
          <br />
          <button type="submit">Submit</button>
          <br />
          Dont have an account?<a href="/users/register">Sign Up</a>
        </form>
      </div>
    </div>
  </main>
