body > header {
  background: #00008B;
}
body > header .row {
  padding: 1.5rem 0;
}
body > header h1 {
  font-family: 'helvitica Neue', Helvetica, Arial, sans serif;
}
body > header nav ul {
  padding: 0;
  margin: 0;
  margin-top: 1.5rem;
  list-style: none;
  float: right;
}
body > header nav ul li {
  display: inline-block;
  font-size: 1.3rem;
  margin-right: 1em;
}
body > header nav ul li:last-child {
  margin-right: 0;
}
body > main {
  background: #00008B;
}
.mid-section {
  padding-top: 120px;
  padding-bottom: 120px;
  background: url('../img/chicagonight.jpeg');
}
.mid-section h2,
.mid-section p {
  color: #272727;
}
